@tailwind base;
@tailwind components;
@tailwind utilities;






body {
 
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

.ParentSection {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ParentBg {
  background: rgb(56, 163, 165);
  background: linear-gradient(180deg, rgba(56, 163, 165, 1) 30%, rgba(255, 255, 255, 1) 100%);
}

.CardShadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.InputStyle {
  width: 100%;
  height: 32px;
  padding: 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.InputStyle:focus {
  outline: 1px solid rgb(197, 197, 197);
}

.InputStyle2 {
  width: 70%;
  height: 32px;
  padding: 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}


.InputStyle2:focus {
  outline: 1px solid rgb(197, 197, 197);
}

.InputStyle50 {
  width: 50%;
  height: 100%;
  padding: 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.InputStyle50:focus {
  outline: 1px solid rgb(197, 197, 197);
}

.Textarea50 {
  width: 70%;
  min-height: 50px;
  max-height: 100px;
  padding: 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.Textarea50:focus {
  outline: 1px solid rgb(197, 197, 197);
}


.ScrollBarForStatus::-webkit-scrollbar {
  width: 5px;
}

.ScrollBarForStatus::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.ScrollBarForStatus::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.TextAreaStyle {
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  padding: 6px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.TextAreaStyle:focus {
  outline: 1px solid rgb(197, 197, 197);
}

.MUIbutton {
  width: auto !important;
  height: 30px !important;
  padding: 0px 20px !important;
  font-size: 12px !important;
  letter-spacing: 0.6px !important;
}

.BankDetailsModalMain {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
}

.BankDetailsModalSub {
  width: 350px;
  height: auto;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f1f1f1;
  border-radius: 8px;
}

.html5-qrcode-element {
  font-size: 12px !important;
}

#reader__scan_region {
  min-height: 64px !important;
}


.EntryInputField100 {
  width: 100%;
  height: 32px;
  padding: 0px 30px 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.EntryInputField100:focus {
  outline: 1px solid #9dc2ff;
}

.EntryInput2Field100 {
  width: 100%;
  height: 32px;
  padding: 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.EntryInput2Field100:focus {
  outline: 1px solid #9dc2ff;
}


.height145 {
  height: calc(100% - 50px);
}

.height220 {
  height: calc(100% - 175px);
}

.height280 {
  height: calc(100% - 280px);
}

.height330 {
  height: calc(100% - 340px);
}

.css-1jxw05q-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 8px 12px !important;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5rem;
  font-weight: 500;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #e5e7eb !important;
}

.css-1dc80h3-MuiTableCell-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: table-cell;
  vertical-align: inherit;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  text-align: left;
  padding: 8px 12px !important;
  color: rgba(0, 0, 0, 0.87);
}

.css-y2ff7i-MuiPaper-root-MuiTableContainer-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px !important;
  background-image: var(--Paper-overlay);
  width: 100%;
  overflow-x: auto;
}

.activeBar {
  background-color: #262cca;
}

.TableInput {
  width: 100%;
  height: 30px;
  border: none !important;
  outline: none !important;
  font-size: 12px;
  color: #4b4b4b;
  padding: 0px 10px;
  letter-spacing: 0.6px !important;
}

.TableInputTD {
  padding: 0px !important;
}

.TableInputTDtotal {
  height: 30px;
  background-color: #f1f1f1;
  display: flex;
  text-align: end !important;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 6px 10px !important;
}

.TableInput1 {
  width: 100%;
  height: 30px;
  border: none !important;
  outline: none !important;
  font-size: 12px;
  color: #4b4b4b;
  background-color: #f1f1f1;
  padding: 0px 10px;
  letter-spacing: 0.6px !important;
}

.TextAreaForPurchase {
  width: 100%;
  height: 60%;
  max-height: 100%;
  padding: 6px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.TextAreaForPurchase:focus {
  outline: 1px solid #9dc2ff;
}

.TaxInputForPurchase {
  height: 32px;
  padding: 0px 10px;
  color: #4b4b4b;
  border: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  margin: 0px 10px 0px 4px;
}

.TaxInputForPurchase:focus {
  outline: 1px solid rgb(197, 197, 197);
}

.TableItemInput {
  width: 120px !important;
  height: 32px;
  padding: 0px 10px;
  color: #4b4b4b;
  border: none !important;
  font-size: 12px;
  letter-spacing: 0.8px !important;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  outline: none !important;
}

.TableInputBorder {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd !important;
  outline: none !important;
  font-size: 12px;
  color: #4b4b4b;
  background-color: #f1f1f1;
  padding: 0px 10px;
  border-radius: 4px;
  letter-spacing: 0.6px !important;
}